.slider {
  display: flex;
  align-items: center;
  height: 100%;

  &__input-container {
    width: 100%;
  }

  &__value {
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
  }

  &__input {
    -webkit-appearance: none;
    width: 100%;
    background: var(--main-color);
    height: 10px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
  }

  &__input:hover {
    opacity: 1;
  }

  &__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: var(--main-color);
    cursor: pointer;
    border: 1px solid #fff;
  }

  &__input::-moz-range-thumb {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background: var(--main-color);
    cursor: pointer;
  }

  &__input-container-value {
    display: flex;
    align-items: center;
  }
}
