.cards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  @media screen and (max-width: 600px) {
    flex-direction: column;
  }

  &__item {
    width: 31.333%;

    @media screen and (max-width: 900px) {
      width: 48%;
    }

    @media screen and (max-width: 600px) {
      width: 100%;
    }
  }
}
