.button {
  background-color: var(--black-color);
  color: white;
  border: none;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;

  &:disabled {
    background-color: darkgrey;
    pointer-events: none;
  }

  &--small {
    padding: 0.5rem;
  }
}
