.player-form {
  display: flex;
  width: 100%;
  height: 85%;

  @media screen and (max-width: 900px) {
    flex-direction: column;
    overflow-y: scroll;
    height: 90%;
    padding: 0 1rem;
    align-items: center;
    gap: 20px;
  }

  &__image-column {
    width: 40%;
    @media screen and (max-width: 900px) {
      width: 80%;
      height: 300px;
    }
  }
  &__content-column {
    width: 60%;
    padding-left: 2rem;
    @media screen and (max-width: 900px) {
      width: 88%;
      padding-left: unset;
    }
  }

  &__button-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
  &__inputs-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }
  &__input {
    width: calc(50% - 20px);
    margin-right: 20px;
    @media screen and (max-width: 900px) {
      width: 100%;
      margin-right: unset;
    }
  }
}
